* { margin: 0; padding: 0;}
a{ text-decoration: none;}
a,p,span { font-family: "微软雅黑";}
ul,ol { list-style: none;}
img { border: none;}
.clear-fix { zoom: 1;}
.clear-fix:after { content: ""; display: block; height: 0px; clear: both;}
.red { color: #C40000 !important;}
#top-navs,#search-box { width: 1190px; margin: 0 auto;}

/*顶部banner*/
.top-banner { background-color: #fff;}
.top-banner a { display: block; width: 990px; height: 80px; margin: 0 auto;}

/*header*/
.top-navs-box { background-color: #F2F2F2;}
#top-navs { font-size: 12px; font-family: "微软雅黑"; height: 26px; border-bottom: 1px solid #E5E5E5; line-height: 26px;}
.header a:hover { text-decoration: underline; color: #C40000;}
.home { float: left; margin-right: 20px;}
.home a,.login-info a,.top-menu a { color: #999;}
.home i { background: url(images/20150916224853.png) no-repeat; width: 13px; height: 13px; position:absolute; margin-top:6px;}
.home a { margin-left: 17px;}
.login-info { float: left;}
.login-info em { font-style: normal; color: #999;}
.login-info a { margin-left: 20px;}
.top-menu { float: right;}
.top-menu>li { float: left; margin: 0px 13px 0px 10px; position: relative;}
.top-tmallbao { background: url(images/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) no-repeat -427px 7px; padding-left: 15px;}
.top-mybrand { background: url(images/20150916230329.png) no-repeat center left; padding-left: 17px;}
.top-cart { background: url(images/20150916230456.png) no-repeat center left; padding-left: 18px;}
.top-mobile { background: url(images/20150916230804.png) no-repeat center left; padding-left: 16px;}

.top-menu li b { border-color: #BBB transparent transparent; border-width: 3px; border-style: solid dashed dashed; width: 0px;
				 height: 0px; font-size: 0; line-height: 0; position: absolute; top: 12px; right: 6px;
				 transition: transform .3s; transform-origin:  50% 25%;}
.top-menu li:hover div { display: block;}
.top-menu li:hover b { transform: rotate(180deg);}
.top-mytaobao,.top-favorite,.top-seller,.top-sitemap { margin: 0px !important;}
.top-mytaobao:hover,.top-favorite:hover,.top-seller:hover,.top-sitemap:hover { background-color: #fff; 
																			   border-bottom: 1px solid #fff} 
.top-mytaobao:hover>a,.top-favorite:hover>a,.top-seller:hover>a,.top-sitemap:hover>a { color: #C40000;}
.top-mytaobao>a,.top-favorite>a,.top-seller>a,.top-sitemap>a { height: 100%; display:inline-block; padding: 0px 14px 0px 10px;
															   border-width:0px 1px; border-style:solid; border-color:#F2F2F2}
.top-sitemap>a { background: url(images/20150916230955.png) no-repeat 10px center; padding-left: 26px;}

.top-mytaobao-menu,.top-favorite-menu,.top-seller-menu,.top-sitemap-menu,.top-mobile-menu { background-color: #fff; display: none;}
.top-mytaobao-menu { width: 75px; padding: 8px 10px; position: absolute; top: 26px; border-width: 0px 1px 1px; border-color: #eee;
					 border-style: solid; line-height: 20px; font-weight: bold; z-index: 91;}
.top-favorite-menu { width: 62px; padding: 8px 10px; position: absolute; top: 26px; border-width: 0px 1px 1px; border-color: #eee;
					 border-style: solid; line-height: 20px; font-weight: bold; z-index: 92;}
.top-seller-menu { width: 122px; padding: 8px 10px; position: absolute; top: 26px; right: 0px; border-width: 0px 1px 1px; 
				   border-color: #eee; border-style: solid; line-height: 20px; font-weight: bold; z-index: 94;}
.top-mobile-menu { width: 175px; height: 227px; background:#fff url(images/TB1K4a8IpXXXXaRXFXXbNxvWXXX-175-215.png) no-repeat;
					position: absolute; top: 26px; right: -65px; z-index: 93; box-shadow: 0px 0px 5px #999;}
.top-mobile-menu i { height: 0px; width: 0px; border-width: 5px; border-color: transparent transparent #FFF;
					 border-style: dashed dashed solid; position: absolute; top: -9px; left: 50%; z-index: 100;}
.top-seller-menu a { margin-right: 20px;}
.top-seller-menu li { margin-right: -20px; }
.top-seller-menu h3 { color: #999; font-size: 12px;}
.top-seller-menu .space { height: 0px; width: 100%; border-bottom: 1px dotted #827777; margin: 7px 0px 3px;}
.top-sitemap-menu { width: 1188px; padding: 25px 0px 40px 0px; position: absolute; top: 26px; right: 0px; border-width: 0px 1px 1px; 
				   border-color: #eee; border-style: solid; line-height: 20px; font-weight: bold; font-weight: normal; z-index: 1100}
.top-sitemap-menu ul { float: left;}
.top-sitemap-menu ul li { float: left; width: 95px; margin: 6px 0px;}
.top-sitemap-menu ul a { color: #666;}
.top-sitemap-menu div { height: 150px; overflow: hidden; float: left; margin-left: 28px; border-right: 1px solid #F5F5F5;}
.sitemap-item1 { width: 380px; }
.sitemap-item1 h2 { color: #F56A00; margin-bottom: 10px; font-size: 16px;}
.sitemap-item2 { width: 380px;}
.sitemap-item2 h2 { color: #2263D4; margin-bottom: 10px; font-size: 16px;}
.sitemap-item3 { width: 190px;}
.sitemap-item3 h2 { color: #000; margin-bottom: 10px; font-size: 16px;}
.sitemap-item4 { width: 110px; border-right: none !important;}
.sitemap-item4 h2 { color: #666; margin-bottom: 10px; font-size: 16px;}
.top-sitemap-menu .icon-hot:after { content: ""; width: 9px; height: 11px; position: absolute; margin-left: 5px; margin-top: -5px; 
									background: url(images/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) no-repeat -37px 0px;}
.top-sitemap-menu .icon-new:after { content: ""; width: 9px; height: 11px; position: absolute; margin-left: 5px; margin-top: -5px;
									background: url(images/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) no-repeat -37px -11px;}

/*搜索区域*/
.search-box { width: 1190px; margin: 0 auto;}
.mall-logo { float: left;}
.mall-search { float: left; margin-left: 50px; margin-top: 30px;}
#search-text { width: 420px; padding: 6px 0px; line-height: 23px; text-indent: 5px; border: 2px solid #C40000; 
				font-weight: bold; font-size: 12px; float: left;}
#search-submit { width: 85px; line-height: 33px; background-color: #C40000; border: 2px solid #C40000; color: #fff; 
				font-size: 16px; float: left;}
#mallSearch-form { overflow: hidden;}
.hot-words { margin-top: 7px; margin-left: -10px;}
.hot-words li { float: left; padding: 0px 10px; border-right: 1px solid #999; font-size: 12px; line-height: 14px;}
.hot-words li a { color: #999;}
li.hot-words-last { border-right: none;}

/*导航条*/
#navs { width: 1190px; margin: 0 auto; margin-top: 25px;}
#side-navs { width: 190px;  float: left; position: relative;}
#side-navs h2 { line-height: 33px; background-color: #C40000; color: #fff; font-size: 14px; text-align: center;}
#navs>ul { float: left; margin-left: 10px;}
#navs>ul li { float: left; padding: 0px 20px; line-height: 33px;}
#navs>ul li a { color: #000; font-size: 14px; font-weight: bold;}
#navs>ul li a:hover { color: #C40000}
.side-navs-menu { position: absolute; top: 33px; width: 100%; background: #181818 url(images/index.png) no-repeat;
				 color: #fff;font-size: 12px; z-index: 1000;}
.side-navs-menu ul li { line-height: 30px; padding-left: 20px; text-indent: 25px; transition: text-indent .2s;}
.side-navs-menu ul li:hover { background-color: #A90000;}
.side-navs-menu ul li a { color: #fff; font-weight: normal;}
.side-navs-menu ul li a:hover { text-decoration: underline;}
.side-navs-menu  i { background: url(images/20150917102741.png) no-repeat; width: 20px; height: 30px;
						position: absolute; margin-left: -30px;}
.side-navs-menu b { position: absolute; width: 0; height: 0; right: 10px; margin-top: 13px; transform: rotate(-90deg);
					border-color: #F3F3F3 transparent; border-width: 4px 4px 0px; border-style: solid; visibility: hidden;}
.side-navs-menu .now { background-color: #4A4A4A;}
.side-navs-menu .now b { visibility: visible; transform: rotate(0deg);}
.side-navs-menu .hover { text-indent: 30px; background-color: #A90000;}
.side-navs-menu .hover b { visibility: visible; transition: transform .2s; transform: rotate(-90deg);} 
.side-navs-menu ul li .first-line { border-color: transparent #F3F3F3 ; border-width: 6px 6px 6px 0px; border-style: solid; 
									margin-top: 10px; right: 0; transform: rotate(0deg);}
.side-navs-menu .hover .first-line { transform: rotate(0deg);}
.icon-2 i { background-position: 0px -30px;}
.icon-3 i { background-position: 0px -60px;}
.icon-4 i { background-position: 0px -90px;}
.icon-5 i { background-position: 0px -120px;}
.icon-6 i { background-position: 0px -150px;}
.icon-7 i { background-position: 0px -180px;}
.icon-8 i { background-position: 0px -210px;}
.icon-9 i { background-position: 0px -240px;}
.icon-10 i { background-position: 0px -270px;}
.icon-11 i { background-position: 0px -300px;}
.icon-12 i { background-position: 0px -330px;}
.icon-13 i { background-position: 0px -360px;}
.icon-14 i { background-position: 0px -390px;}
.icon-15 i { background-position: 0px -420px;}
.icon-16 i { background-position: 0px -450px;}

/*主图*/
#menu-content { height: 480px; background-color: #0F95F1;}
.main-picbox { width: 1190px; height: 100%; margin: 0 auto; position: relative;}
#main-pic { font-size: 0;}
#main-pic .item1 { height: 100%; margin-left: 190px; margin-right: 190px; position: relative;}
#main-pic .item1  b { background: url(images/TB12.xeJFXXXXbcXFXX2HMYQVXX-405-480.png) no-repeat; width: 405px;
					 		height: 480px; position: absolute; right: 0px;}
#main-pic .item1 .side-banner { width: 190px; height: 100%; position: absolute; right: -190px; top: 0px;}
#item1-i-list  { position: absolute; left: 35%; bottom: 5px;}
#item1-i-list li { float: left; width: 20px; line-height: 20px; border-radius: 50%; color: #fff; background-color: #000; 
					text-align: center; font-size: 12px; font-family: "Arial"; margin: 0px 3px; cursor: pointer;} 
#item1-i-list li:hover { background-color: #C40000;}
#item1-i-list li.select { background-color: #C40000;}

/*2级导航菜单*/
#navs-menu { width: 400px; height: 100%; position: absolute; left: 190px; z-index: 999; top: 0px;}
.navs-menu-item { height: 480px;  background-color: #fff; overflow: hidden; position: absolute; top: 0; left: -10px;
					box-shadow: 1px 0px 2px #978D8D inset; display: none; opacity: 0.8; 
					/*transition: left .2s ease-out,opacity .2s ease-out;*/}
.navs-menu-item div { width: 360px;  margin: 0px 20px; padding-top: 10px; overflow: hidden;}
.navs-menu-item p {  margin: 10px 0px 0px -1px;}
.navs-menu-item div h3 { line-height: 20px; font-size: 12px; border-bottom: 1px solid #000; overflow: hidden;}
.navs-menu-item .title { float: left; width: 90px; height: 20px; text-align: center; padding: 17px 0px 0px 30px; color: #000;
						  background: url(images/TB1Fj1PHXXXXXc2XXXXhxV7PXXX-83-1929.png) no-repeat;}
.navs-menu-item .more { float: right; color: #666; margin-top: 17px;}
.navs-menu-item p a { padding: 0px 5px 0px 7px; font-size: 12px; color: #888; display: inline-block; 
						background: url(images/066.jpg) no-repeat left center;}
.navs-menu-item p a:hover { text-decoration: underline;}
.navs-menu-item b.space { display: block; height: 0px; margin:10px 7px 0px; border-bottom: 1px dotted #999;}
.navs-menu-item.hover { display: block;}
#navs-menu .item1 { width: 50px; height: 460px; padding: 10px; background-color: #FBFBFB; box-shadow: 1px 0px 5px #CCC;
				 	opacity: .8; left: 0;}
#navs-menu .item1 a { display: block; line-height: 37px; color: #363636; text-align: center; border-bottom: 1px dotted #888;
					font-size: 14px; font-weight: bold; }
#navs-menu .item2 a.highlight { color: #D01F47;}
#navs-menu .item2 .i-1 { background-position: -20px -24px;}
#navs-menu .item2 .i-2 { background-position: -20px -71px;}
#navs-menu .item3 a.highlight { color: #1291CF;}
#navs-menu .item3 .i-1 { background-position: -20px -118px;}
#navs-menu .item3 .i-2 { background-position: -20px -165px;}
#navs-menu .item3 .i-3 { background-position: -20px -212px;}
#navs-menu .item4 a.highlight { color: #8B478B;}
#navs-menu .item4 .i-1 { background-position: -20px -308px;}
#navs-menu .item4 .i-2 { background-position: -20px -262px;}
#navs-menu .item4 .i-3 { background-position: -20px -353px;}
#navs-menu .item5 a.highlight { color: #D8468D;}
#navs-menu .item5 .i-1 { background-position: -20px -400px;}
#navs-menu .item5 .i-2 { background-position: -20px -447px;}
#navs-menu .item5 .i-3 { background-position: -20px -494px;}
#navs-menu .item6 a.highlight { color: #2062D3;}
#navs-menu .item6 .i-1 { background-position: -20px -541px;}
#navs-menu .item6 .i-2 { background-position: -20px -587px;}
#navs-menu .item6 .i-3 { background-position: -20px -637px;}
#navs-menu .item7 a.highlight { color: #DF3F4E;}
#navs-menu .item7 .i-1 { background-position: -20px -1440px;}
#navs-menu .item7 .i-2 { background-position: -20px -1486px;}
#navs-menu .item7 .i-3 { background-position: -20px -682px;}
#navs-menu .item7 .i-4 { background-position: -20px -1534px;}
#navs-menu .item8 a.highlight { color: #F56A00;}
#navs-menu .item8 .i-1 { background-position: -20px -1581px;}
#navs-menu .item9 a.highlight { color: #2262D3;}
#navs-menu .item9 .i-1 { background-position: -20px -776px;}
#navs-menu .item9 .i-2 { background-position: -20px -823px;}
#navs-menu .item9 .i-3 { background-position: -20px -1252px;}
#navs-menu .item10 a.highlight { color: #CB3A0A;}
#navs-menu .item10 .i-1 { background-position: -20px -870px;}
#navs-menu .item11 a.highlight { color: #B38E63;}
#navs-menu .item11 .i-1 { background-position: -20px -917px;}
#navs-menu .item11 .i-2 { background-position: -20px -964px;}
#navs-menu .item12 a.highlight { color: #4459A3;}
#navs-menu .item12 .i-1 { background-position: -20px -1011px;}
#navs-menu .item13 a.highlight { color: #9FB000;}
#navs-menu .item13 .i-1 { background-position: -20px -1058px;}
#navs-menu .item14 a.highlight { color: #00B78B;}
#navs-menu .item14 .i-1 { background-position: -20px -1105px;}
#navs-menu .item15 a.highlight { color: #6BA536;}
#navs-menu .item15 .i-1 { background-position: -20px -1299px;}
#navs-menu .item15 .i-2 { background-position: -20px -1152px;}
#navs-menu .item15 .i-3 { background-position: -20px -1346px;}
#navs-menu .item15 .i-4 { background-position: -20px -1393px;}
#navs-menu .item16 a.highlight { color: #0190B2;;}
#navs-menu .item16 .i-1 { background-position: -20px -1199px;}

/*主区域*/
#main-content { padding-top: 40px; background-color: #F5F5F5; padding-bottom: 30px;} 

/*热门品牌*/
.hot-band { width: 1190px; margin: 0 auto;}
.hot-band-title { margin-bottom: 5px;}
.hot-band-title a { display: block;background: url(images/TB1l6bWFVXXXXX9XXXXkKBbHXXX-167-18.png) no-repeat;
					 width: 192px; height: 20px; line-height: 20px; }
.hot-band .left-banner { width: 190px; font-size: 0px; float: left;}
.hot-band .right-banner { width: 182px; font-size: 0px; float: right; padding: 4px; background-color: #fff;}
.hot-band-main { width: 810px; height: 326px; float: left; position: relative;}
#hot-band-nav { position: absolute; top: -28px; left: 15px;}
#hot-band-nav li { float: left; margin-right: 30px;}
#hot-band-nav li a,.hot-band-main .band-next  { color: #666; font-size: 12px; font-weight: bold;}
#hot-band-nav li.select a { color: #000; border-bottom: 2px solid #000;}
#hot-band-content { margin-left: 3px;}
#hot-band-content>li { width: 100%; height: 100%; overflow: hidden;}
#hot-band-content ul li a { display: block; width: 132px; height: 80px; float: left; margin: 1px; background-color: #fff;
							text-align: center;}
#hot-band-content ul li a img { margin-top: 20px;}
#hot-band-content ul li a i { position: absolute; width: 20px; height: 20px; margin-top: 13px; margin-left: -5px;
								 background: url(images/20150917124955.png) no-repeat; visibility:hidden;}
#hot-band-content ul li a:hover i { visibility: visible;}		
.hot-band-main .band-next { position: absolute; width: 53px; height: 20px; line-height: 20px; top: -28px; right: 5px;}
.hot-band-main .band-next  i { position: absolute; width: 18px; height: 18px; top: 1px; left: -20px;
								 background: url(images/20150917130007.png) no-repeat;}	
.hot-band-main .band-next:hover { color: #000;}	

/*banner*/				
.banner { width: 1190px; margin: 0 auto; margin-top: 30px;}

/*楼层通用样式*/
.floor-item { width: 1190px; margin: 0 auto; padding-top: 30px;}
.floor-show { width: 190px; float: left;}
.floor-content { float: left; width: 1000px;}
.floor-title { padding-left: 40px; height: 90px; background: url(images/T1YYw0FaXlXXXG2A6d-191-1400.png) no-repeat;}
.floor-title li { display: inline-block; width: 30px; margin: 0 5px;}
.floor-title li a { color: #fff; font-size: 12px;}
.floor-title li a i { display: block; width: 30px; height: 30px; margin-top: 20px;}
.floor-title .space  { text-align: center;}
.floor-title .space i { display: inline-block; width: 1px; height: 50px; margin-top: 20px; margin-left: -1px;
						background: url(images/T1YYw0FaXlXXXG2A6d-191-1400.png) no-repeat -95px -1340px;}
.floor-band { height: 202px; position: relative; overflow: hidden; padding: 0px 45px; background-color: #fff;}
.floor-band-content { width: 100px; overflow: hidden;}
.floor-band ul { width:500px;}
.floor-band ul li { float: left;}
.floor-band ul a { display: block; width: 90px; height: 45px; padding: 17px 5px 0px;}
.floor-band .slider-next { display: block; width: 20px; height: 30px; position: absolute; right: 0px; top: 50%; 
							background: url(images/20150917141012.png) no-repeat;}
.floor-band .slider-prev { display: block; width: 20px; height: 30px; position: absolute; left: 0px; top: 50%;
							background: url(images/20150917140907.png) no-repeat;}
.floor-label-list { background-color: #FAFAF8; padding: 10px 0px 0px 10px;}
.floor-label-list ul li { float: left; width: 55px; margin-left: 20px; line-height: 25px;}
.floor-label-list ul li a { color: #333; font-size: 12px; font-weight: bold;}
.floor-label-list ul li a:hover { text-decoration: underline;}
.floor-bottom { background-color: #FAFAF8;}

.floor-item2,.floor-item3,.floor-item4 { font-size: 0; float: left;}
.floor-item1 { font-size: 0; float: left; width: 400px;}
.floor-item2 a,.floor-item3 a { display: block; border-right: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;}
.floor-item4 a { display: block; border-bottom: 1px solid #E5E5E5;} 

/*1F*/
#F1 .floor-title-item1 i { background: url(images/20150917133653.png) no-repeat;}
#F1 .floor-title-item2 i { background: url(images/20150918105321.png) no-repeat;}

/*2F*/
#F2 .floor-title { background-position: 0px -110px; text-align: center; padding-left: 0;}
#F2 .floor-title li { width: 80px; text-align: center;}
#F2 .floor-title li i { margin-left: 25px;}
#F2 .floor-title-item1 i { background: url(images/20150918105510.png) no-repeat center;}

/*3F*/
#F3 .floor-title { background-position: 0px -220px;}
#F3 .floor-title-item1 i { background: url(images/20150918105801.png) no-repeat;}
#F3 .floor-title-item2 i { background: url(images/20150918110018.png) no-repeat;}

/*4F*/
#F4 .floor-title { background-position: 0px -334px;}
#F4 .floor-title-item1 i { background: url(images/20150918110151.png) no-repeat center;}
#F4 .floor-title-item2 i { background: url(images/20150918110245.png) no-repeat center;}
#F4 .floor-title-item3 i { background: url(images/20150918110320.png) no-repeat center;}

/*5F*/
#F5 .floor-title { background-position: 0px -445px;}
#F5 .floor-title-item1 i { background: url(images/20150918110448.png) no-repeat center;}
#F5 .floor-title-item2 i { background: url(images/20150918110742.png) no-repeat center;}

/*6F*/
#F6 .floor-title { background-position: 0px -556px; text-align: center; padding-left: 0;}
#F6 .floor-title li { width: 80px; text-align: center;}
#F6 .floor-title li i { margin-left: 25px;}
#F6 .floor-label-list { background-color: #fff;}
#F6 .floor-label-list li { line-height: 30px;}
#F6 .floor-bottom { height: 130px; background: url(images/TB17ts_FFXXXXacXVXXBE2W2pXX-190-130.png) no-repeat;}
#F6 .floor-bottom ul { padding-top: 31px;}
#F6 .floor-bottom ul a { display: block; height: 30px; width: 100%;}
#F6 .floor-title-item1 i { background: url(images/20150918110833.png) no-repeat center;}

/*7F*/
#F7 .floor-title { background-position: 0px -670px; text-align: center; padding-left: 0;}
#F7 .floor-title li { width: 80px; text-align: center;}
#F7 .floor-title li i { margin-left: 25px;}
#F7 .floor-label-list { background-color: #fff;}
#F7 .floor-label-list li { line-height: 30px;}
#F7 .floor-bottom { height: 130px; background: url(images/TB19Pc8FFXXXXcvaXXXBE2W2pXX-190-130.png) no-repeat;}
#F7 .floor-bottom ul { padding-top: 31px;}
#F7 .floor-bottom ul a { display: block; height: 30px; width: 100%;}
#F7 .floor-title-item1 i { background: url(images/20150918110937.png) no-repeat center;}

/*8F*/
#F8 .floor-title { background-position: 0px -786px; text-align: center; padding-left: 0;}
#F8 .floor-title li { width: 90px; text-align: center;}
#F8 .floor-title li i { margin-left: 30px;}
#F8 .floor-title-item1 i { background: url(images/20150918111032.png) no-repeat center;}

/*9F*/
#F9 .floor-title { background-position: 0px -892px; text-align: center; padding-left: 0;}
#F9 .floor-title li { width: 80px; text-align: center;}
#F9 .floor-title li i { margin-left: 25px;}
#F9 .floor-label-list { background-color: #fff;}
#F9 .floor-label-list li { line-height: 30px;}
#F9 .floor-bottom { height: 110px; padding: 10px 0px 10px 10px;}
#F9 .floor-bottom ul li { float: left; width: 55px; margin-left: 20px; line-height: 25px;}
#F9 .floor-bottom ul li a { color: #333; font-size: 12px; font-weight: bold;}
#F9 .floor-bottom ul li a:hover { text-decoration: underline;}
#F9 .floor-title-item1 i { background: url(images/20150918111136.png) no-repeat center;}

/*10F*/
#F10 .floor-title { background-position: 0px -1000px; text-align: center; padding-left: 0;}
#F10 .floor-title li { width: 80px; text-align: center;}
#F10 .floor-title li i { margin-left: 25px;}
#F10 .floor-label-list { background-color: #fff;}
#F10 .floor-label-list li { line-height: 30px;}
#F10 .floor-bottom { height: 110px; padding: 10px 0px 10px 10px;}
#F10 .floor-bottom ul li { float: left; width: 55px; margin-left: 20px; line-height: 25px;}
#F10 .floor-bottom ul li a { color: #333; font-size: 12px; font-weight: bold;}
#F10 .floor-bottom ul li a:hover { text-decoration: underline;}
#F10 .floor-title-item1 i { background: url(images/20150918111431.png) no-repeat center;}

/*11F*/
#F11 .floor-title { background-position: 0px -1110px; text-align: center; padding-left: 0;}
#F11 .floor-title li { width: 90px; text-align: center;}
#F11 .floor-title li i { margin-left: 30px;}
#F11 .floor-label-list { background-color: #fff;}
#F11 .floor-label-list li { line-height: 30px;}
#F11 .floor-bottom { height: 130px;}
#F11 .floor-title-item1 i { background: url(images/20150918111258.png) no-repeat center;}

/*12F*/
#F12 .floor-title { background-position: 0px -1221px; text-align: center; padding-left: 0;}
#F12 .floor-title li { width: 90px; text-align: center;}
#F12 .floor-title li i { margin-left: 30px;}
#F12 .floor-label-list { background-color: #fff;}
#F12 .floor-label-list li { line-height: 30px;}
#F12 .floor-bottom { height: 130px;}
#F12 .floor-title-item1 i { background: url(images/20150918111326.png) no-repeat center;}

/*底部*/
.footer { border-top: 1px solid #D1D7DC;}
.tmall-ensure,.tmall-desc { width: 1190px; margin: 0 auto;}
.tmall-ensure { margin: 25px auto; height: 100px; background: url(images/T1ZjhhFpRkXXX1CdwH-1190-100.jpg) no-repeat;}
.tmall-ensure a { float: left; width: 297px; height: 100px;}
.tmall-desc { padding: 20px 0px; border-top: 1px dotted #EDEDED; background: url(images/index.jpg) no-repeat 45px bottom;}
.tmall-desc>div { float: left; width: 186px; margin-left: 52px;}
.tmall-desc h3 { color: #646464; margin-bottom: 5px; font-size: 16px;}
.tmall-desc a { color: #8B8B8B; font-size: 12px;}
.tmall-desc a:hover { text-decoration: underline;}
.tmall-copyright { height: 240px; border-top: 2px solid #C40000; background-color: #000; color: #FFF; padding-top: 10px;
					font-family: "Arial";} 
.tmall-copyright>div { width: 1190px; margin: 0 auto;}
.tmall-copyright a { color: #FFF; font-size: 12px; margin: 0px 5px;}
.tmall-copyright a:hover { text-decoration: underline;}
.tmall-copyright p {line-height: 25px; font-size: 12px;}
.footer-copyright { margin-top: 15px; font-size: 12px; color: #A4A4A4; padding-left: 4px; line-height: 20px;}
.footer-copyright>a { color: #A4A4A4; margin-right: 50px;}
.footer-copyright small { display: block; font-size: 12px; color: #686868;}
.footer-copyright p { margin-top: 10px; margin-left: -4px;}

/*侧边固定栏*/
#right-side { width: 35px; height: 100%; background-color: #000; position: fixed; right: 0px; top: 0px;}
#right-side a { width: 35px; height: 35px; display: block; position: relative;}
#right-side a:hover { background-color: #C40000;}
.space1 { height: 18%; display: block;}
.mui-tequan { background: url(images/112.png) no-repeat; margin-bottom: 7px;}
.mui-car { background: url(images/113.png) no-repeat 0px 10px; height: 100px !important; text-align: center; 
			margin-bottom: 5px;}
.mui-car:hover div { border: none;}
.mui-car div { width: 25px; height: 98px; border-top: 1px solid #444; border-bottom: 1px solid #444; display: inline-block;}
.mui-car span { display: block; padding: 35px 5px 0px; font-size: 12px; color: #fff;}
.mui-zican { background: url(images/114.png) no-repeat; margin-bottom: 7px;}
.mui-pinpai { background: url(images/115.png) no-repeat; margin-bottom: 7px;} 
.mui-soucang { background: url(images/116.png) no-repeat; margin-bottom: 7px;}
.mui-foot { background: url(images/117.png) no-repeat; margin-bottom: 7px;}
.mui-chongzhi { background: url(images/118.png) no-repeat; margin-bottom: 7px;}
.mui-fankui { background: url(images/120.png) no-repeat; position: absolute !important; bottom: 70px;}
.mui-qrcode { background: url(images/119.png) no-repeat; position: absolute !important; bottom: 35px;}
.mui-backtop { background: url(images/121.png) no-repeat; position: absolute !important; bottom: 0px;}
#right-side a .tab { width: 90px; height: 35px; line-height: 35px; text-align: center; color: #fff; font-size: 12px;
					background-color: #494949; position: absolute; right: 65px; visibility: hidden; opacity: 0; 
					transition: all .3s ease-out;}
#right-side a .tab i { font-style: normal; font-size: 34px; position: absolute; right: -9px; color: #494949;}
#right-side a:hover .tab {  opacity: 1; visibility: visible; right: 35px;}

/*左侧固定楼层导航*/
.floor-navs-box { width: 1190px; height: 0px; position: fixed; top: 50%; left: 50%; margin-left: -595px;}
#left-floor-navs { position: absolute; left: -37px; top: -150px; width: 35px; z-index: 998; display: none; opacity: 0;}
#left-floor-navs a { display: block; width: 35px; line-height: 35px; text-align: center; font-size: 12px; color: #666;}
#left-floor-navs .now { color: #C40000;}
#left-floor-navs .hover { color: #fff; background-color: #C40000;}
#left-floor-navs .two-line { padding: 4px 0px; line-height: 13.5px;}
#left-floor-navs .space { display: block; height: 1px; width: 12px; margin: 0px auto; background-color: #eee;}
